.subheader, aside, nav ul li {
  font-family: "Roboto";
  font-weight: 500;
  text-transform: upper-case;
  color: #FFB0A9;
  text-transform: uppercase; }

body {
  background: #EC5F53;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px; }

h2 {
  font-family: "Roboto Slab";
  font-weight: 400;
  font-size: 1.8em; }

aside {
  font-size: 1.1em; }

#header h1 {
  font-family: "Georgia";
  font-size: 2em;
  font-weight: 100;
  text-align: left;
  margin: .3em;
  margin-bottom: -.1em; }
#header aside {
  text-align: left;
  margin-left: .5em; }

#content {
  margin: 0 auto;
  width: 80%; }
  #content h2 {
    margin-bottom: -.1em; }

#splash-me {
  max-width: 10vw;
  height: 10vw;
  display: block;
  background: #FFB0A9;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 1em; }

.panel {
  display: none;
  max-width: 35%;
  margin: 0 auto;
  margin-top: 6em; }
  .panel.active {
    display: block; }
  .panel article {
    margin-bottom: 4em; }

nav {
  width: 100%;
  text-align: center; }
  nav ul {
    list-style: none;
    overflow: hidden;
    padding: 0;
    display: inline-block;
    position: absolute;
    left: calc(50% - 192px); }
    nav ul li {
      font-size: .9em;
      float: left;
      margin: .2em 1em;
      text-shadow: 0px 2px 4px #EB4639;
      border-bottom: 2px solid #FFB0A9;
      opacity: .5;
      -webkit-transition: all .05s ease-in-out;
              transition: all .05s ease-in-out; }
      nav ul li:hover {
        cursor: pointer;
        color: #fff3f2;
        border-color: #fff3f2; }
      nav ul li.active {
        color: #FFFFFF;
        border-bottom: 3px solid #FFFFFF;
        opacity: 1; }
