/*
Error: Invalid CSS after "    width": expected "{", was ": 31em * $i;"
        on line 116 of /Users/zachherring/Documents/code/portfolio-starter/sass/base.scss

111: 
112: // Transition
113: 
114: @for $i from 1 through 4
115:   #position-#{$i}
116:     width: 31em * $i;
117: 
118: /*
119: @keyframes ani-left {
120:     0% { transform: translatex(-5em) ; opacity: 0; }
121:     30% {opacity: 0; }

Backtrace:
/Users/zachherring/Documents/code/portfolio-starter/sass/base.scss:116
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:1165:in `expected'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:1101:in `expected'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:1096:in `tok!'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:641:in `block'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:286:in `for_directive'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:219:in `special_directive'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:194:in `directive'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:660:in `block_child'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:653:in `block_contents'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:117:in `stylesheet'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:42:in `parse'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:393:in `_to_tree'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:268:in `render'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/sass_scss.rb:404:in `run'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/sass_scss.rb:62:in `process_result'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/base.rb:52:in `parse'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/base.rb:19:in `parse!'
/Applications/CodeKit.app/Contents/Resources/engines/scss/bin/scss:13:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"    width\": expected \"{\", was \": 31em * $i;\"\A         on line 116 of /Users/zachherring/Documents/code/portfolio-starter/sass/base.scss\A \A 111: \A 112: // Transition\A 113: \A 114: @for $i from 1 through 4\A 115:   #position-#{$i}\A 116:     width: 31em * $i;\A 117: \A 118: /*\A 119: @keyframes ani-left {\A 120:     0% { transform: translatex(-5em) ; opacity: 0; }\A 121:     30% {opacity: 0; }"; }
