.subheader, aside, nav ul li {
  font-family: "Roboto";
  font-weight: 500;
  text-transform: upper-case;
  color: #FFB0A9; }

body {
  background: #EC5F53;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px; }

h2 {
  font-family: "Roboto Slab";
  font-size: 2em; }

#header h1 {
  font-family: "Georgia";
  font-size: 2em;
  font-weight: 100;
  text-align: left;
  margin: .3em;
  margin-bottom: -.1em; }
#header aside {
  text-align: left;
  margin-left: .5em;
  font-size: 1.3em; }

#content {
  max-width: 40%;
  margin: 0 auto; }
  #content h2 {
    margin-bottom: -.1em; }

nav ul {
  list-style: none;
  overflow: hidden; }
  nav ul li {
    font-size: 1em;
    float: left; }

#splash-me {
  max-width: 10vw;
  height: 10vw;
  display: block;
  background: #FFB0A9;
  border-radius: 50%;
  margin: auto; }
