
$white: #FFFFFF;
$offwhite: #FFB0A9;

.subheader {font-family: "Roboto"; font-weight: 500; text-transform: upper-case; color: $offwhite; text-transform: uppercase;  }

body {
    background: #EC5F53;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    }

h2 {
    font-family: "Roboto Slab";
    font-size: 2em;
}
aside {@extend .subheader; font-size: 1.3em; }


#header {
    h1 { font-family: "Georgia"; font-size: 2em; font-weight: 100; text-align: left;
        margin: .3em;
        margin-bottom: -.1em;
        }

    aside { text-align: left; margin-left: .5em; }
}

#content {
    max-width: 40%;
    margin: 0 auto;

    h2 { margin-bottom: -.1em;}


#splash-me {
    max-width: 10vw;
    height: 10vw;
    display: block;
    background: $offwhite;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 1em;
}

nav ul {
        list-style: none;
        overflow: hidden;
        //position: absolute;
        //width: 50vw;
        margin: 0 auto;
        li {
            @extend .subheader;
            font-size: .9em;
            float: left;
            margin: .2em 1em;
            text-shadow: 0px 2px 4px #EB4639;

            &:hover {cursor: pointer;}
        }

    }
}
