$white: #FFFFFF;
$offwhite: #FFB0A9;

.subheader { font-family: "Roboto"; font-weight: 500; text-transform: upper-case; color: $offwhite; text-transform: uppercase;  }

body {
    background: #EC5F53;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    }

h2 {
    font-family: "Roboto Slab";
    font-weight: 400;
    font-size: 1.8em;
}
aside {@extend .subheader; font-size: 1.1em; }


#header {
    h1 { font-family: "Georgia"; font-size: 2em; font-weight: 100; text-align: left;
        margin: .3em;
        margin-bottom: -.1em;
        }

    aside { text-align: left; margin-left: .5em; }
}

#content {
    margin: 0 auto;
    width: 80%;
    h2 { margin-bottom: -.1em;}
}

#splash-me {
    max-width: 10vw;
    height: 10vw;
    display: block;
    background: $offwhite;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 1em;
    }

.panel {
    display: none;
    max-width: 35%;
    margin: 0 auto;
    margin-top: 6em;
    &.active {display: block;}

    article { margin-bottom: 4em; }

    }

nav {
    width: 100%;
    text-align: center;

    ul {
        list-style: none;
        overflow: hidden;
        padding: 0;
        display: inline-block;
        position: absolute;
        left: calc(50% - 192px);

        li {
            @extend .subheader;
            font-size: .9em;
            float: left;
            margin: .2em 1em;
            text-shadow: 0px 2px 4px #EB4639;
            border-bottom: 2px solid $offwhite;
            opacity: .5;
            transition: all .05s ease-in-out;

            &:hover {cursor: pointer; color: mix($offwhite, $white, 15); border-color: mix($offwhite, $white, 15); }
            &.active {color: $white; border-bottom: 3px solid $white; opacity: 1;}
            }
        }
}
