
$white: #FFFFFF;
$offwhite: #FFB0A9;
$fadewhite: #EE7166;

.subheader {font-family: "Roboto"; font-weight: 500; text-transform: upper-case; color: $offwhite; text-transform: uppercase;  }

body {
    background: #EC5F53;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    }

h2 {
    font-family: "Roboto Slab";
    font-weight: 400;
    font-size: 1.8em;
}
aside {@extend .subheader; font-size: 1.1em; }


#header {
    h1 { font-family: "Georgia"; font-size: 2em; font-weight: 100; text-align: left;
        margin: .3em;
        margin-bottom: -.1em;
        }

    aside { text-align: left; margin-left: .5em; }
}

#content {
    max-width: 35%;
    margin: 0 auto;

    h2 { margin-bottom: -.1em;}


#splash-me {
    max-width: 10vw;
    height: 10vw;
    display: block;
    background: $offwhite;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 1em;
}

.panel {float: left; display: none;
    &.active {display: block;}
    }
nav ul {
        list-style: none;
        overflow: hidden;
        position: absolute;
        width: 100%;
        margin: 0 auto;
        li {
            @extend .subheader;
            font-size: .9em;
            float: left;
            margin: .2em 1em;
            text-shadow: 0px 2px 4px #EB4639;
            border-bottom: 2px solid $offwhite;
            opacity: .5;

            &:hover {cursor: pointer;}
            &.active {color: $white; border-bottom: 3px solid $white; opacity: 1;}
        }

    }
}
